<h1>Bookmark Manager</h1>

<ul>
<% @bookmarks.each do |bookmark| %>
  <li><%= bookmark %></li>
<% end %>
</ul>

<form action ="/add_bookmarks" method ="post">
  Url: <input name="url" type="text" />
  <input type="submit" value="Add" />
  </form>
